<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Подробно о заказе</title>
</head>
<body>
<form method="post" action="/logout">
    <input type="hidden" th:name="${_csrf.parameterName}" th:value = "${_csrf.token}" >
    <button type="submit" >Выйти из личного кабинета</button>
</form>
<a href="/admin/ordersAdmin">Назад к заказам</a>
<br>
<h3>Информация о заказе: </h3>
<form th:method="post" th:action="@{/admin/order/{id}(id=${order.getId()})}" th:object="${order}">
    <p th:text="'Номер заказа: ' + ${order.getNumber()}"></p>
    <p th:text="'Дата заказа: ' + ${#temporals.format(order.getDateTime(), 'dd-MMM-yyyy')}"></p>
    <p th:text="'Состав заказа: ' + ${order.getProduct().getTitle()}"></p>
    <p th:text="'Стоимость: ' + ${order.getPrice()}"></p>
    <p th:text="'Статус заказа: ' + ${order.getStatus()}"></p>
    <label for="status">Изменить статус на: </label>
    <select name="status" th:field="*{status}" id="status">
        <div th:each="orderStatus: ${status}">
            <option th:text="${orderStatus}" th:value="${orderStatus}"></option>
        </div>
    </select>
    <input type="submit" value="Изменить ">
</form>
</body>
</html>